/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  font-family: 'Rubik Dirt', cursive;
}
h2 {
  font-size: 2rem;
}
.seccion-oscura {
  color: white;
  background-color: #1b1b32;
}
.seccion-clara {
  color: black;
  background-color:white;
}
.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Rubik Dirt', cursive;
}
.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}
.seccion-texto {
  padding: 5px;
  font-size: 1.2rem;
}
.btn-info {
  font-size: 1.1rem;
  margin: 20px;
  font-weight: bold;
}
.texto-negro {
  color: black;
}
.texto-blanco {
  color: white;
}
/* Barra de navegacion */
.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
/* Seccion hero*/
.hero {
  align-items: stretch;
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}
.hero-principal {
  padding: 3rem;
}
.hero-principal h2 {
  font-size: 1.5rem;
  color: gray;
}
.hero-imagen-perfil {
  width: 20%;
  height: 20%;
  margin: 20px;
  border: 4px solid black
}
.hero-inferior-imagen {
  max-width: 600px;
  margin: 10px;
}
/* Sobre mi */
.sobre-mi {
  height: 500px;
  padding: 10px;
}
.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}
/* Experiencia */
.experiencia {
  padding: 40px 40px 60px 40px;
}
.experiencia .columna {
  padding:20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.3s ease-in;
}
.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}
.container {
  text-align: center;
}
.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}
.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badges-contenedor {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.badges {
  margin: 5px;
}
/* Proyectos */
.proyectos-recientes {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: block;
  transition: all 0.2s ease;
}
.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}
.overlay {
  transition: all 0.2 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.overlay .iconos-contenedor {
  display: flex;
}
.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}
.proyecto {
  position: relative;
}
.proyecto:hover img {
  opacity: 0.2;
}
.proyecto:hover .overlay {
  opacity: 1;
}
/* Articulos */
.articulos {
  min-height: 500px;
  padding: 30px;
  justify-content: start;
}
.articulos .card {
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.articulos .card-header {
  font-weight: bold;
}
/* Testimonios */
.testimonios {
  padding: 40px 40px 80px 40px;
}
.testimonios .carousel {
  max-width: 800px;
}
.carousel-item {
  height: 500px;
}
.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}
.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
  border-radius: 50%;
}
.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}
.testimonio-info {
  font-weight: bold;
  text-align: center;
}
.testimonio-info p {
  margin-bottom: 0;
}
.testimonio-footer .cliente {
  font-size: 1.2rem;
}
.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}
/* Contacto */
.contacto .container {
  max-width: 1110px;
  min-height: 200px;
  padding: 20px;
}
.contacto .rectangulo {
  margin-top: -5rem;
  background-color: rgb(12,110,253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}
.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contacto button:hover {
  background-color: white;
  color: black;
}
.contacto button:hover i {
  color: black;
}
.contacto button i {
  color:white;
  font-size: 1.3em;
  transition: all 0.2s ease-in-out;
}
/* Pie de páagina (footer) */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}
.footer-texto {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
}
.iconos-redes-sociales {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
}
.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13,110,253);
}
.iconos-redes-sociales a:hover i {
  color: black;
}
.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adptable responsiva */
@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .hero-imagen-perfil {
    width: 30%;
    height: 30%;
  }
  .hero-inferior-imagen {
    max-width: 600px;
    width: 80%;
    height: 80%;
  }
}
@media screen and (max-width: 500px) {
  .navbar-brand {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1rem;
  }
  .hero-imagen-perfil {
    width: 35%;
    height: 35%;
  }
  .hero-inferior-imagen {
    width: 75%;
    height: 75%;
  }
}
@media screen and (max-width: 400px) {
  .navbar-brand {
    display: none;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  .hero-principal h2 {
    font-size: 0.75rem;
    color: gray;
  }
  .hero-imagen-perfil {
    width: 70%;
    height: 70%;
  }
  .hero-inferior-imagen {
    width: 75%;
    height: 75%;
  }
  .overlay i {
    color: black;
    font-size: 40px;
    margin: 10px;
  }
  .overlay p {
    font-size: 10px;
  }
  .contenedor p {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }
  .testimonio-texto {
    font-size: 18px;
  }
}
@media screen and (max-width: 250px) {
  .testimonio-imagen {
    height: 80px;
    width: 80px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
  .testimonios h2 {
    font-size: 32px;
  }
  .testimonios h3 {
    font-size: 16px;
  }
  .testimonio-info p {
    font-size: 12px;
  }
  .overlay p {
    font-size: 10px;
  }
  .overlay i {
    font-size: 14px;
  }
}


